@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.cjs";

/* @@ CODEGEN: BEGIN MDX INLINE STYLES @@ */
@source inline("text-gray-500 -mt-4 text-subtle font-normal quote text-lime-700");
/* @@ CODEGEN: END MDX INLINE STYLES @@ */

body {
  @apply bg-gradient-to-br from-ctp-base to-ctp-crust bg-ctp-base;
}

@theme inline {
  --font-sans: var(--fonts-sans);
  --font-mono: var(--fonts-mono);
}

@theme {
  --animate-fade-in: fade-in 0.2s;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}

@utility link {
  @apply text-strong hover:text-strong-inv bg-link hover:bg-link-focused
    motion-safe:transition-all motion-safe:ease-in-out motion-safe:duration-100 hover:motion-safe:duration-200;
}

@utility link-selected {
  @apply text-strong-inv bg-link bg-link-selected;
}

@utility markdown {
  @apply prose prose-base md:prose-lg dark:prose-invert
    prose-ul:mt-0 prose-ol:my-0 prose-li:my-0;

  * {
    @apply first-of-type:mt-0;
  }

  p {
    @apply has-[+ul]:mb-0;
  }
}

@utility quote {
  @apply before:content-[open-quote] after:content-[close-quote];
}

@utility md-icon {
  @apply w-5 h-5 inline;
}

@utility sm-icon {
  @apply w-4 h-4 inline;
}

@utility trans-bg {
  background: linear-gradient(
    180deg,
    #5bcefa 20%,
    #f5a9b8 20%,
    40%,
    #ffffff 40%,
    60%,
    #f5a9b8 60%,
    80%,
    #5bcefa 80%
  );
}

@utility text-strong {
  /* THEME: custom em text style */
  @apply text-black dark:text-white;
}

@utility text-strong-inv {
  @apply text-white dark:text-black;
}

@utility bg-link {
  /* THEME: custom nav link style */
  @apply bg-size-[100%_170%] bg-gradient-to-b from-50% from-transparent to-50% to-ctp-mauve;
}

@utility bg-link-focused {
  @apply bg-position-[0_100%];
}

@utility bg-link-selected {
  @apply bg-position-[0_100%];
}

/* THEME: start of custom styles */
@utility bg-background {
  @apply bg-gradient-to-br from-ctp-base to-ctp-crust bg-ctp-base;
}

@utility bg-background-95 {
  @apply bg-gradient-to-br from-ctp-base/95 to-ctp-crust/95 bg-ctp-base/95;
}

@utility bg-background-80 {
  @apply bg-gradient-to-br from-ctp-base/80 to-ctp-crust/80 bg-ctp-base/80;
}

@utility bg-background-60 {
  @apply bg-gradient-to-br from-ctp-base/60 to-ctp-crust/60 bg-ctp-base/60;
}

@utility text-label {
  @apply text-ctp-subtext0;
}

@utility text-label2 {
  @apply text-ctp-subtext1;
}

@utility text-accent {
  @apply text-ctp-mauve;
}

@utility border-accent {
  @apply border-ctp-mauve;
}

@utility text-normal {
  @apply text-ctp-text;
}

@utility border-label {
  @apply border-ctp-subtext0;
}

@utility text-subtle {
  @apply text-sm md:text-base;
}

@utility bg-faint {
  @apply dark:bg-ctp-mauve/20 bg-[rgb(225,213,255)]/100;
}
